<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.thomas.global"
    version   = "1.0.0">

<name>AOC Demo</name>

<description>
Demo of basic App features
</description>

<author href="https://thomasdegrootsolutions.com" email="info@thomasdegrootsolutions.com">
Thomas degroot
</author>
  <icon src="icon_512.png" width="512" height="512" />
  <icon src="icon_072.png" width="72" height="72" />
  <icon src="icon_057.png" width="57" height="57" />
  <icon src="icon_048.png" width="48" height="48" />
  <icon src="icon_029.png" width="29" height="29" />
  <preference name="orientation" value="default"
  <gap:splash src="intro.png" />
</widget>
